absresgetter==0.0.12
numpy==1.21.6
opencv-python==4.6.0.66
pyqt-ani-abstractbutton==0.0.4
pyqt-ani-radiobutton==0.0.1
pyqt-single-image-graphics-view==0.0.13
pyqt-svg-abstractbutton==0.0.7
pyqt-svg-button==0.0.26
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0